.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 696px;
    width: 100%;
    border-radius: 30px;
    padding: 30px;
    transform-origin: bottom;

    .index {
      color: #121212;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }

    .body {
      display: flex;
      height: 100%;
      gap: 30px;

      .title {
        text-align: left;
        margin: 40px 0px;
        font-size: 62px;
        color: #121212;
        font-weight: 400;
        max-width: 60%;
        line-height: 60px;
      }

      .description {
        width: 100%;
        position: relative;
        display: flex;
        gap: 50px;
        padding: 30px 0px 50px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .text {
          font-size: 20px;
          max-width: 70%;
          padding: 0;
          margin: 0;
        }
        .subtitle {
          font-size: 12px;
          color: #c1c1c1;
          min-width: 10%;
          width: 10%;
        }
      }

      .footer {
        width: 100%;
        position: relative;
        display: flex;
        gap: 50px;
        padding: 30px 0px 50px 0px;

        .text {
          font-size: 14px;
          max-width: 223px;
          margin-right: 30px;
        }
        .subtitle {
          font-size: 12px;
          color: #c1c1c1;
          min-width: 10%;
          width: 10%;
        }
      }

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        .inner {
          width: 100%;
          height: 100%;
          position: absolute;

          .buttonContainer {
            position: relative;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            p {
              text-transform: uppercase;
              width: 100%;
              margin: 20px;
              padding: 30px;
              border-radius: 129px;
              text-align: center;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        img {
          object-fit: cover;
        }
      }

      .extraInfo {
        width: 50%;

        p {
          color: rgba(255, 255, 255, 0.3);
          font-size: 14px;
          max-width: 283px;
          padding: 15px 0px 30px;

          &:first-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3); // Add your desired border style here
          }
        }
      }

      .testimonialContainer {
        width: 50%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding-bottom: 94px;

        .comment {
          color: white;
          font-size: 20px;
        }

        .author {
          display: flex;
          align-items: center;
          gap: 20px;
          margin: 30px 0px 50px;

          .name {
            font-weight: 700;
            color: white;
            font-size: 20px;
            margin: 0;
          }

          .position {
            margin: 5px 0 0;
            color: rgba(255, 255, 255, 0.3);
          }
        }

        .slideContainer {
          display: flex;
          gap: 20px;

          .iconContainer {
            display: flex;
            background-color: rgba(255, 255, 255, 0.1);
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 66px;
            width: 66px;
          }

          .current {
            color: #fff;
            font-size: 20px;
          }

          .total {
            color: rgba(255, 255, 255, 0.2);
            font-size: 20px;
          }
        }
      }
    }
  }
}
