.footer {
  padding: 50px 30px 30px;
  margin-top: 70px;
 
  .firstRow {
    display: flex;
    justify-content: space-between;

    .text {
      color: rgba(0, 0, 0, 0.4);
      font-size: 20px;
      max-width: 283px;
    }

    .footerLinkContainer {
      display: flex;
      flex-direction: column;

      .title {
        color: rgba(0, 0, 0, 0.4);
        font-size: 12px;
      }

      .link {
        color: #121212;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

  .logoContainer {
    padding-top: 20%;

    .mainLogo {
      width: 100%;
      height: 100%;
    }

    .privacy {
      display: flex;
      margin-top: -30px;
      gap: 10px;
      align-items: center;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4);

      .name {
        font-weight: 900;
        color: #121212;
      }
    }
  }
}
