.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #c1c1c1;
  transition: height 0.5s ease;

  &--scroll {
    height: 78px;
  }

  .logo {
    height: 90px;
    transition: height 0.5s ease, width 0.5s ease;

    &--scroll {
      height: 28px;
      width: 158px;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    transition: padding 0.5s ease;

    &--scroll {
      padding: 16px 30px;
    }
  }

  .menu {
    display: flex;
    gap: 30px;

    &--scroll {
      flex-direction: row;
      gap: 20px;
    }

    .activeLinks {
      display: flex;
      gap: 30px;
    }

    .allLinks {
      display: flex;
      flex-direction: column;

      &--scroll {
        flex-direction: row;
        gap: 20px;
      }
    }

    .item {
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      text-decoration: none;
      color: #121212;
    }
  }
}

.contact {
  border-radius: 129px;
  height: 90px;
  width: 223px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.16);
  justify-content: center;
  align-items: center;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  transition: height 0.5s ease, width 0.5s ease;

  &--scroll {
    height: 45px;
    width: 108px;
  }
}
