.content {
  height: 100%;

  .index {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .body {
    display: flex;
    height: 100%;
    gap: 30px;

    .testimonialContainer {
      width: 50%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      padding-bottom: 94px;

      .comment {
        color: white;
        font-size: 20px;
      }

      .author {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 30px 0px 50px;

        .name {
          font-weight: 700;
          color: white;
          font-size: 20px;
          margin: 0;
        }

        .position {
          margin: 5px 0 0;
          color: rgba(255, 255, 255, 0.3);
        }
      }

      .slideContainer {
        display: flex;
        gap: 20px;

        .iconContainer {
          display: flex;
          background-color: rgba(255, 255, 255, 0.1);
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 66px;
          width: 66px;
        }

        .current {
          color: #fff;
          font-size: 20px;
        }

        .total {
          color: rgba(255, 255, 255, 0.2);
          font-size: 20px;
        }
      }
    }

    .introduction {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 50px;

      .title {
        text-align: left;
        margin: 40px 0px;
        font-size: 62px;
        color: #fff;
        font-weight: 400;
        max-width: 60%;
        line-height: 60px;

        .yellow {
          color: #ffcd00;
        }
      }

      .iconsContainer {
        display: flex;
        gap: 10px;

        .firstPlus {
          animation: scale-in-center 400ms 0.1s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        .secondPlus {
          animation: scale-in-center 400ms 0.3s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        .thirdPlus {
          animation: scale-in-center 400ms 0.5s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }

        @keyframes scale-in-center {
          0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
          }
          100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
          }
        }
      }

      .extraInfo {
        width: 50%;

        p {
          color: rgba(255, 255, 255, 0.3);
          font-size: 14px;
          max-width: 283px;
          padding: 15px 0px 30px;

          &:first-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}
